<!doctype html>
<html>
    <head>
        <meta charset="utf-8"> 
        <title>Examensarbete</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1" >
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/js/socket.io.js" type="text/javascript"></script>
        <script src="/js/game.js" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="css/reset.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    </head>
    <body>
     <section id="game">                           
         <canvas id="gamecanvas"> </canvas>     
    </section>
        <script>
           Game.initialize();
           window.onEachFrame(Game.run);
        </script>
    </body>
</html>