<!doctype html>
<html>
    <head>
        <meta charset="utf-8"> 
        <title>Examensarbete</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1" >
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="css/reset.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    </head>
    <body>
     <section id="game">                           
         <canvas id="gamecanvas"> </canvas>
         <div id="test">Start the test</div>
         <textarea id="logger"></textarea>
         <button id="create">Create file</button> 
         <a download="info.txt" id="downloadlink" style="display: none">Download</a>
         <div id="left" class="controller"></div>
         <div id="up" class="controller"></div>
         <div id="right" class="controller"></div>
         <div id="down" class="controller"></div>
          <svg id="punch" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
            <circle cx="50" cy="50" r="50" fill="none" stroke="white" stroke-width="4"/>
         </svg>
         <svg id="block" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
            <circle cx="50" cy="50" r="50" fill="none" stroke="white" stroke-width="4"/>
         </svg>
         
    </section>
       
        <script src="/js/socket.io.js" type="text/javascript"></script>
        <script src="/js/game.js" type="text/javascript"></script>
        <script src="/js/test.js" type="text/javascript"></script>
        <script>
            //Game.initialize();
            //window.onEachFrame(Game.run);
        </script>
       
    </body>
</html>